@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
--Yellow: hsl(47, 88%, 63%);

--White: hsl(0, 0%, 100%);

--Gray-500: hsl(0, 0%, 42%);
--Gray-950: hsl(0, 0%, 7%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: "Figtree", serif;
    background-color: var(--Yellow);
}
.container {
    width: 350px;
    margin: 5rem auto;
    padding: 1rem;
    background-color: var(--White);
    border-radius: 1rem;
    border: 1px solid black;
}
.f-img {
    width: 100%;
    border-radius: inherit;
}
.container .btn {
    margin: 1rem 0;
    background-color: var(--Yellow);
    display: inline-block;
    padding: 0.625rem;
    border-radius: 0.3rem;
    font-weight: 800;
}
h3 {
    color: var(--Gray-950);
    font-size: 16px;
}
h1 {
    font-weight: 800;
    margin: 1rem 0;
    cursor: pointer;
}
h1:hover {
    color: var(--Yellow);
}
.p {
    color: var(--Gray-500);
    margin: 1.5rem 0;
}
.foot-img {
    width: 2rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}
span {
    font-weight: 800;
}
@media (max-width:767px) {
    .container {
        /* width: 250px; */
        /* margin: 8rem auto ; */
        overflow-x: hidden;
    }
}